body {
  margin: 0;
  color: white;
  font-family: 'CeraRoundPro';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@font-face {
  font-family: 'CeraRoundPro';
  src: local('CeraRoundPro'), url(./fonts/CeraRoundProRegular.otf) format('opentype');
}
